#contact-form input, label{
   font-size: 1.5em;
   font-weight: 200;
}

#contact-form label {
    padding: 0 15px;
}

#contact-form textarea {
    width: 100%;
    height: 100px;
}

#contact-form button {
    padding: 15px;
    margin-top: 15px;
}