  .ptitle {

      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 10px;
      text-align: center;
  }

  .formu {

      text-align: center;
      padding-bottom: 50px;
  }

  .formu button {
      background-color: #EF7B45;
      border-color: #EF7B45;
  }

  .logo {
      padding-bottom: 0;
      margin-bottom: 0;
      width: 200px;
  }

  .logo img {

      width: 300px;
      padding-bottom: 0;
      margin-bottom: 0;
  }

  .alert{
    color:red;
    text-align: center;
  }
