
.donation h1{
    padding-left: 43%;
}

.donation h2{
    padding-top: '40px';
} 

.donation p{
    font-size: 2em;
    font-weight: 200;
    text-indent: 40px;
    text-align: center;
    padding-bottom: 40px;
    width: 85%;
    padding-left: 16%;
}

.donation h3{
    padding-bottom: 40px;
}

.donation article{
    line-height: 50px;
    text-align: center;
}

.donation img {
    height: 180px;
    object-fit: cover;
    margin: 50px 0;
    display: block;
}

@media (max-width: 900px) {

    .donation h1 {
        padding-left: 0%;
    }

    .donation p {
        font-size: 1.5em;
    }

    .donation img {
        height: 120px;
        margin-left: 20%;
    }

    .donation .link {
        margin-left: 10%;
    }
}

