
.donation h1{
    padding-left: 43%;
}

.donation h2{
    padding-top: '40px';
} 

.donation p{
    font-size: 2em;
    font-weight: 200;
    text-indent: 40px;
    text-align: center;
    padding-bottom: 40px;
    width: 85%;
    padding-left: 16%;
}

.donation h3{
    padding-bottom: 40px;
}

.donation article{
    line-height: 50px;
    text-align: center;
}

.donation img {
    height: 180px;
    object-fit: cover;
    margin: 50px 0;
    display: block;
}



