.searchForm  {
    font-size: 1.2em;
    font-weight: 200;
}

.searchForm h4 {
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 50px;
    padding-top: 35px;
}

.searchForm label {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 1.2em;
}

.searchForm select, input {
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 5px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {

    .searchForm h4 {
        font-size: 1.3em;
        text-align: center;
        padding-top: 0%;
    }

    .searchForm select {
        display: block;
        font-size: 0.8em;
        margin-left: 35%;
    }

    .searchForm label {
        display: inline;
        padding-left: 8%;
        font-size: 0.9em;
    }

    .searchForm input {

        font-size: 0.8em;
        display: inline;
    }

    

}