.profile {
    font-weight: 200;
    margin-top: 250px;
}

.logo-perfil {

    margin: 70px 0;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.main h2 {
    font-size: 2.8em;
    font-weight: 300;
    padding: 25px 0;
}

.main p {
    font-size: 2em;
    font-weight: 200;
}

.main h3 {
    padding-top: 40px;
    text-align: left;
}

.listBtn {
    margin-right: 30px;
    padding: 25px;
    font-size: 1.6em;
    font-weight: 200;
    background-color: #A4D6E0;
    border: #A4D6E0;
    transition: 0.2s;
}

.listBtn:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .logo-perfil {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .listBtn {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    .profile{
        font-size: 50px;
        margin-top: 30px
    }

    
}