article {
    font-size: 2.2em;
    font-weight: 200;
    line-height: 70px;
}

.details-link {
    background-color: #A4D6E0;
    padding: 25px;
    transition: 0.3s;
    font-size: 0.9em;
}

.details-link:hover {
    opacity: 0.8;
}

/* #footprints {
    width: 40%;
    position: fixed;
    right: 5%;
    top: 20%;
} */

#footprint1 {

    height: 4%;
    object-fit: cover;
    position: fixed;
    top: 20%;
    right: 20%;
}

 #footprint2 {

    height: 7%;
    object-fit: cover;
    position: fixed;
    top: 32%;
    right: 12%;
 }

  #footprint3 {

    height: 10%;
    object-fit: cover;
    position: fixed;
    top: 45%;
    right: 20%;
 }

  #footprint4 {

    height: 15%;
    object-fit: cover;
    position: fixed;
    top: 65%;
    right: 10%;
 }


