article {
    font-size: 2.2em;
    font-weight: 200;
    line-height: 70px;
}


.details-link {
    background-color: #A4D6E0;
    padding: 20px 25px;
    transition: 0.3s;
    font-size: 0.9em;
    border-color: white;
    font-weight: 200;
}

.details-link:hover {
    opacity: 0.8;
}


#footprint1 {

    height: 4%;
    object-fit: cover;
    position: fixed;
    top: 20%;
    right: 20%;
}

 #footprint2 {

    height: 7%;
    object-fit: cover;
    position: fixed;
    top: 32%;
    right: 12%;
 }

  #footprint3 {

    height: 10%;
    object-fit: cover;
    position: fixed;
    top: 45%;
    right: 20%;
 }

  #footprint4 {

    height: 15%;
    object-fit: cover;
    position: fixed;
    top: 65%;
    right: 10%;
 }

 @media (max-width: 900px) {


    article {
        font-size: 1.2em;
        line-height: 40px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .details-link {
        padding: 10px;
    }

    .button {
        padding: 15px;
        font-size: 0.8em;
    }

    #footprint1 {
        top: 25%;
        z-index: -1;
    }

    #footprint2 {
        z-index: -1;
        right: 0%;
    }

    #footprint3 {
        z-index: -1;
        right: 15%;
    }

    #footprint4 {
        z-index: -1;
        right: 0%;
    }
 }

